html {
  height: 100%;
  background: black url(images/bg.gif) center no-repeat;
  background-size: cover;
}
body {
  margin: 0 auto;
  max-width: 300px;
  color: white;
  font-family: "Courier New", Courier, Monaco, sans-serif;
  font-size: 12px;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 10px;
}
/* АНИМАЦИЯ */
.filler {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  animation: fadeout 1s forwards;
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.container {
  animation: fadein 1.5s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
    /*прозрачный*/
  }
  to {
    opacity: 1;
    /*проявится*/
  }
}

/*ХЕДЕР*/

.header {
  margin-top: 300px;
  margin-bottom: 70px;
}

/* ФУТЕР */

.footer {
  margin-top: 30px;
}

.main a {
  transition-property: background-color;
  transition-duration: 0.5s;
}

.main a:hover {
  color: white;
  background-color: red;
}

.footer a {
  display: inline-block;
  padding-right: 5px;
  opacity: 0.3;
}

.footer a:hover {
  opacity: 1;
}

.footer a img{
  max-width: 15px;
}

/* СТИЛИ ДЛЯ 5го АЙФОНА */
@media screen and (max-width:320px){
  .header {
    margin-top: 60px;
  }
  body {
    max-width: 200px;
  }
}
